@model EF_Models.Models.PhieuMuon

@{
    ViewBag.Title = "Details";
}

<h2>Xem chi tiết phiếu mượn</h2>

<div>
    <h4>PhieuMuon</h4>
    <hr />

    <form class="form-horizontal">
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Mã phiếu mượn</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.MaPhieuMuon)
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Mã thẻ độc giả</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.DocGia.Ten)
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Mã nhân viên</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.NhanVien.MaNhanVien)
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Ngày mượn</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.NgayMuon)
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Ngày hết hạn</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.NgayHetHan)
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            <p>STT</p>
        </th>
        <th>
            <p>Mã vạch</p>
        </th>
        <th>
            <p>Tên đầu sách</p>
        </th>
        <th>
            <p>Tên tác giả</p>
        </th>
        <th>
            <p>Tên thể loại</p>
        </th>
    </tr>
    @{ int i = 1;}
    @foreach (var item in Model.dsChiTietMuon)
    {
        <tr>
            <td>
                @i
            </td>
            @{i++;}
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.MaVach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.TacGia.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.TheLoai.Ten)
            </td>
        </tr>
      }
</table>

<p>
    @Html.ActionLink("Quay lại", "Index")
</p>
