@model EF_Models.Models.PhieuMuon

@{
    ViewBag.Title = "Sửa";
}

<h2>Phiếu mượn</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PhieuMuon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.MaPhieuMuon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaPhieuMuon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaPhieuMuon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayMuon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayMuon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayMuon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DocGiaID, "DocGiaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DocGiaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DocGiaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NhanVienID, "NhanVienID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NhanVienID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NhanVienID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayHetHan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayHetHan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayHetHan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongSoLuongMuon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongSoLuongMuon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongSoLuongMuon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table table-bordered table-striped">
    <tr>
        <th>
            <p>STT</p>
        </th>
        <th>
            <p>Mã vạch</p>
        </th>
        <th>
            <p>Tên đầu sách</p>
        </th>
        <th>
            <p>Tên tác giả</p>
        </th>
        <th>
            <p>Tên thể loại</p>
        </th>
        <th>
            <p>Chức năng</p>
        </th>
    </tr>

    @foreach (var item in Model.dsChiTietMuon)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.MaVach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.MaVach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.TacGia.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuonSach.DauSach.TheLoai.Ten)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { controller = "ChiTietMuon", id = item.ID })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
