@model EF_Models.Models.PhieuTra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuTra</h4>
    <hr />

    <form class="form-horizontal">
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Mã phiếu trả</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.MaPhieuTra)
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Mã thẻ độc giả</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.DocGia.MaThe)
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12">
            <label class="text-right col-sm-2">Ngày trả</label>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.NgayTra)
            </div>
        </div>
    </form>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
