@model EF_Models.Models.PhieuMuon

@{
    ViewBag.Title = "Xuất phiếu mượn";
}

<center><h2>Quản lý mượn sách</h2></center>
<div class="text-right btn-inphieu">
    <button class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i>  In phiếu mượn</button>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="info-docgia">
            <div class="detail-docgia col-md-4">
                <h4>Mã phiếu mượn: @Html.DisplayFor(ModelItem => Model.MaPhieuMuon)</h4>
                <h4>Mã thẻ: @Html.DisplayFor(ModelItem => Model.DocGia.MaThe)</h4>
                <h4>Tên độc giả: @Html.DisplayFor(ModelItem => Model.DocGia.Ten)</h4>
                <h4>Số điện thoại: @Html.DisplayFor(ModelItem => Model.DocGia.DienThoai)</h4>
                <h4>Chức vụ: @Html.DisplayFor(ModelItem => Model.DocGia.Loai)</h4>
            </div>
            <div class="detail-docgia col-md-5">
                <h4>Email: @Html.DisplayFor(ModelItem => Model.DocGia.Email)</h4>
                <h4>Ngày mượn sách: @Html.DisplayFor(ModelItem => Model.NgayMuon)</h4>
                <h4>Ngày hết hạn: @Html.DisplayFor(ModelItem => Model.NgayHetHan)</h4>
                <h4>Địa chỉ: <br /> @Html.DisplayFor(ModelItem => Model.DocGia.DiaChi)</h4>
            </div>
        </div>
    </div>
</div>
<div class="borrowed-books">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-md-1">STT</th>
                <th class="col-md-2">Mã vạch</th>
                <th class="col-md-3">Tên đầu sách</th>
                <th class="col-md-3">Tên tác giả</th>
                <th class="col-md-3">Tên thể loại</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.dsChiTietMuon)
            {
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(ModelItem => item.CuonSach.MaVach)</td>
                    <td>@Html.DisplayFor(ModelItem => item.CuonSach.DauSach.Ten)</td>
                    <td>@Html.DisplayFor(ModelItem => item.CuonSach.DauSach.TacGia.Ten)</td>
                    <td>@Html.DisplayFor(ModelItem => item.CuonSach.DauSach.TheLoai.Ten)</td>
                </tr>
            }
        </tbody>
    </table>
</div>